<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hot News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment scrollable mode="md" (ionChange)="getCategoria($event)">
  <ion-segment-button value="{{item}}" mode="md" *ngFor="let item of categorias let i=index">
    <ion-label text-capitalice>{{item}}</ion-label>
  </ion-segment-button>


</ion-segment>

<ion-content>

  <app-noticias [noticias]='noticias' [fav]='false'></app-noticias>

  <ion-infinite-scroll threshold="25%" [disabled]="false" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>