<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Noticias Internacionales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)" value="NewsApi">
    <ion-segment-button value="NewsApi">
      <ion-label>NewsApi</ion-label>
    </ion-segment-button>
    <ion-segment-button value="MediaStack">
      <ion-label>MediaStack</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- 
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más Noticias">
      <app-noticias [noticias]="noticias"></app-noticias>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <app-noticias [noticias]="noticias" [fav]='false'></app-noticias>
  <ion-infinite-scroll threshold="25%" [disabled]="false" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>